@media screen and (max-width: 720px){
    h2{
        font-size: 2rem !important;
    }
    .intro {
        display:grid;
        align-items: center;

        .intro-body{
            flex-wrap: wrap;
            margin: auto;
           
            .myname, .mytitle, .myinterest1, .myinterest2{
                @include highlight(3em);
            }
        }

        .intro-item{
            margin-top: 5vh ;
            max-width: 60vw;
        }

        img{
            max-width: 60%;
            display: block;
            margin: 20px auto;
        }
    }

    .projects{
        
        .wrapper {

            .project-card {
                margin: 1em auto !important;
            }
        }
        
    }

    .skills{
        width: 100%;
        background-image: none;
    }

    form{
        padding: 0 !important;
    }
}