.nav {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);*/
    z-index: 200;
}

li::marker{
    content: "";
}
  
.nav-list {
    display: flex;
    margin-right: 2rem;

    a {
        display: block;
        font-size: 1rem;
    }
}

.nav-list-zh {
    display: flex;
    margin-right: 2rem;

    a {
        display: block;
        font-size: 4rem;
        padding: 0 1rem 0 1rem;
    }

    
}


@media (max-width: 40em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
        margin: 0 1rem;

        a{
            font-size: 3.1rem;
            padding: 0.5rem 0.5rem 0.2rem 0.5rem;
        }
    }

    .nav-list-zh {
        margin: 0 1rem;

        a{
            font-size: 2.5rem;
            padding: 0.5rem 0.5rem 0.2rem 0.5rem;
        }
    }

     
}
