#projects{
    min-height: 100vh;

    .wrapper{
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
    
        .art, .music, .web{
            position: relative;
            width: 300px;
            margin: 20px 50px;
            // border: solid 1px;
            // border-radius: 8px;
        
            .card-header{
                text-align: center;
                @include highlight(20px);
                border-bottom: solid 2px;
                padding: 0.5em 1.5em;
            }
            
            .card-body{
                padding: 0.5em 1.5em;
            }
        }

        .art:hover{
            background-color: $art-color-bg;
            border-radius: 15px;
        }

        .web:hover{
            background-color: $web-color-bg;
            border-radius: 15px;
        }

        .music:hover{
            background-color: $music-color-bg;
            border-radius: 15px;
        }
    }
}