#projects{
    min-height: 100vh;
    @include scroll();

    .wrapper{
        display: flex;
        margin: auto;
        flex-wrap: wrap;
        justify-content: center;
        
        a {
            text-decoration: none;
            color: $text-color;
        }

        a:visited {
            text-decoration: none;
            color: $text-color;
        }
        
        .art, .music, .web{
            position: relative;
            width: 300px;
            margin: 20px 50px;
            // border: solid 1px;
            // border-radius: 8px;
        
            .card-header{
                text-align: center;
                @include highlight(20px);
                border-bottom: solid 2px;
                padding: 0.5em 1.5em;
            }
            
            .card-body{
                padding: 0.5em 1.5em;
            }
        }

        .art:hover{
            @include card($art-color-bg);

        }

        .web:hover{
            @include card($web-color-bg);
        }

        .music:hover{
            @include card($music-color-bg);
        }
    }
}