$web-color: rgb(0, 99, 112,);
$music-color: rgb(36, 143, 59);
$art-color: rgb(173, 131, 23);

$web-color-bg: rgba(0, 99, 112, 0.4);
$music-color-bg: rgba(36, 143, 59, 0.4);
$art-color-bg: rgba(173, 131, 23, 0.4);

$text-color: black;