@mixin highlight($size) {
    font-size: $size;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

@import "./variables";

body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 80%;
    margin: auto;

    section{
        max-width: 100%;
        margin: auto;

        h2{
            text-align: center;
        }

        div{
            width: auto;
            margin: auto;
            text-align: left;

            ul{
                width:fit-content;
            }
        }
    }

    .chinese{
        font-size: 1rem;
    }
}


@import "./intro";
@import "./projects";

@import "./media";

