body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 80%;
    margin: auto;
    section{
    max-width: 100%;
    margin: auto;

        h2{
            text-align: center;
        }


        div{
            width: auto;
            margin: auto;
            text-align: left;


            ul{
                width:fit-content;
            }

            img{
                max-width: 300px;
            }
        }

        .wrapper{
            display: flex;
            width: 80%;
            margin: auto;
            flex-wrap: wrap;
            justify-content: center;
        

            .project{
                position: relative;
                width: 300px;
                margin: 20px 50px;
            }
        }
    }
}



